@page "/"

This demo shows two issues with GeoBlazor
<p />
Click on the <a href="mapdemo">Map Demo</a> to see an issue with marker placement
<p />
Click <a href="pageroute/student/1">Route param</a> to see the map fail to display when a parameter is passed as part of a route
<br />
This has to be the first page with a map to be shown.
<br />
If you click on <a href="mapdemo">Map Demo</a> first, the <a href="pageroute/student/1">Route param</a> page will display the map correctly
<br />
Clicking on the other map pages after calling <a href="pageroute/student/1">Route (1 param)</a> will also fail to display the map correctly
<p />
Clicking on the <a href="pageroute?AltStudentId=2"> route page with a query path parameter</a> appears to work correcty
<p />
Click <a href="thisoneisfine">Route (no param)</a> to see the map display correctly when parameters are not passed as part of a route
Alternate routes appear to be fine. It's only when a parameter is passed in as a route path that the map fails to initialize correctly'
<p />
@code {
}
